<!DOCTYPE html>
<html>

<head>
    <title>Stocks</title>
    <style>
        body {
            font-family: Arial;
            padding: 20px;
        }
    </style>
</head>

<body>
    <h1>Stock Market Data</h1>
    <p>Stock data will appear here.</p>

    <form method="POST" action="/stocks">
        <input type="text" name="SEARCH_KEYWORD" placeholder="Enter stock keyword">
        <button type="submit">Submit</button>

        {% if symbol_list and symbol_name_list %}
        <h3>Found Symbols:</h3>
        <ul>
            {% for symbol in symbol_list %}
            <li>
                <a href="/stocks?SEARCH_KEYWORD={{ symbol }}">{{ symbol }} - {{
                    symbol_name_list[symbol_list.index(symbol)] }}</a>
            </li>
            {% endfor %}
        </ul>
        {% endif %}

        {% if stock_details %}
        <h3>Stock Data for Selected Symbol:</h3>
        <pre>{{ stock_details | tojson(indent=2) }}</pre>
        {% endif %}
    </form>

    <!-- <label name="stock_list">{{ data }}</label> -->
    <a href="/">Back to Home</a>
</body>

</html>